<div ng-controller="MessageController" class="container">
	<div class="alert alert-success" ng-show="messageSaved" role="alert">{{successMessage}}</div>
	<div class="row">
		<div class="hidden-xs col-md-3 col-sm-4 messages-title">
			<h2>MESSAGES</h2>
			<div class="col-xs-12 panel-separator"></div>
			<div ng-repeat="message in messages">
				{{message.text}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="insert-title">
			<h2>Insert Message</h2>
			<div class="col-xs-3 panel-separator">
			<input type="text" ng-model="messageText" />
			<button type="button" class="btn btn-sm" ng-click="saveMessage()">Save Message</button>
			</div>
		</div>
	</div>
</div>
