<div ng-controller="NotificationController" class="col-xs-12">  
  <modal-dialog show='modalShown' dialog-title='Alert' on-close='logClose()'>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title ng-binding"><span class="glyphicon glyphicon-alert"></span></h4>
      </div>
      <div class="modal-body ng-binding" ng-bind-html-unsafe="msg">{{ "app.common.notifications." + reason | language }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success glyphicon glyphicon-ok" ng-click="launch('yes')"></button>
        <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="launch('no')"></button>
      </div>
    </div>
  </modal-dialog>
</div>
